language: python
python:
- '3.7'
- '3.8'
install:
- pip install -r requirements.txt
- pip install -r dev_requirements.txt
- pip install coveralls
script:
- coverage run -m pytest
after_success:
- coveralls